body {
    background-color: hsl(0, 0%, 90%);
}

img {
    width: 200px;
    height: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 18px red
}

#title {
    text-align: center;
    font-family: sans-serif;
}

tr td img:hover {
    opacity: 0.5;
}

td h3 {
    margin-top: 7px;
}

#home-container {
    background-image: url(images2/onpitch.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
}

#main-section {
    background-color: hsl(0, 100%, 70%);
    font-family: serif;
}

#text-label {
    color: black;
    margin-top: 10px;
    font-weight: 900;
    background-color: hsl(180, 100%, 95%);
    padding: 7px;
    border-radius: 7px;
}

nav ul li a {
    text-decoration: none;
    margin-right: 80px;
    font-weight: 900;
    font-family: serif;
    font-size: 20px;
}

.nav-list {
    list-style-type: none;
}
.nav-list a {
    color: black;
    font-weight: 900;
    font-family: monospace, sans-serif;
}
.btn {
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

i {
    font-size: 50px;
    color: hsl(0, 100%, 70%);
}

i:hover {
    color: blue;
}

nav ul li a:hover {
    color: hsl(0, 100%, 70%);
}

header {
    background-color: rgba(255, 236, 229, 0.3);
    padding: 5px;

}

.nav-linx {
    color: white;
    font-weight: 900;
}
.nav-linx11 {
    background-color: rgba(164, 164, 193, 0.4);
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

#soc-med {
    margin-left: 30px;
}

#about-body {
    text-align: justify;
    font-size: 25px;
    font-family: cursive, serif, sans-serif;
}

#about-title {
    font-size: 55px;
}

#reviews {
    margin-top: 100px;
    font-family: 'Times New Roman', sans-serif, serif;
}

#about-container {
    background-color: hsl(120, 100%, 65%);
    border-radius: 7px;
    padding: 8px;
    font-family: cursive, serif, sans-serif;
    font-weight: bold;
}

#review-title {
    text-decoration: underline;
}

#products-table {
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}

#contact-detail-email {
    float: left;
}

#feedback-title {
    float: left;
}

.cat-image:hover {
    width: 400px;
    height: auto;
}

.filters {
    filter: grayscale(80%);
}

#cart-icon {
    color: hsl(300, 100%, 70%);
    margin-left: 55px;
}

.add-cart {
    margin-left: 45%;
}

.nav-lin {
    color: hsl(336, 100%, 10%);
}

#tot-text {
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif, serif, cursive;
}

#total-disp {
    text-decoration: underline;
}


#inner-social {

    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: -30px;
    justify-content: center;
    align-items: center;
}

.drop-social {
    display: none;
    background-color: hsl(240, 20%, 70%);
    margin-bottom: 10px;
    width: 100%;
}

.link {
    margin-left: 35px;
}

/* index.js responsiveness */

@media (max-width: 800px) {
    #cart-header {
        display: none;
    }
    #main-cart-section {
        margin-top: 20px;
    }
    #about-header {
        display: none;
    }
    #cat-header {
        display: none;
    }
    #home-header {
        display: none;
    }

    #text-box {
        width: 255px;
    }

    #home-body {
        width: 100%;
        
        padding-left: 5px;
        padding-right: 5px;
    }

    #main-section {
        width: 100%;
    }

    #nav-list-menu ul {
        display: flex;
        flex-direction: column;
        background-color: hsl(180, 20%, 95%);
        padding-bottom: 10px;
        border-radius: 20px;
        margin-top: 10px;
    }

     #nav-list-menu ul .nav-list2 .nav-linx2 {
        color: black;
        font-family: monospace, sans-serif;
    }
    #nav-list-menu ul .nav-list2 .nav-linx2:hover {
        color: white;
        background-color: black;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
        font-family: monospace, sans-serif;
    }

    .nav-list2 {
        list-style-type: none;
    }


    #home-header2 {
        width: 100%;
        margin-top: 10px;
    }

    #cart-icon {
        float: right;
        margin-top: -25px;
        margin-right: 11px;
    }

    #social-media {
    	display: none;
    }

    #social-media2 {
    	display: flex;
    	flex-direction: row; 
    	justify-content: center;
    	margin-top: 55px; 
        padding-bottom: 30px;	
    }
    .sociales {
    	margin-left: 50px;
    }

    #products-table {
        display: block;
    }
    #products-table td {
        display:inline-block;
    }

}



/*toggle between mobile and desktop menu bar formats*/

@media (min-width: 801px) {
    #home-header2 {
        display: none;
    }

    #nav-menu-div {
        display: none;
    }
     #social-media2 {
     	display: none;
     }
     .fab {
         color: hsl(240, 19%, 35%);
     }
}